<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='book003.ico') }}" type="image/x-icon">
    <title>Book Library</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('list_books') }}">Home</a></li>
                <li><a href="{{ url_for('add_book') }}">Add Book</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
